<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a
        class="logo"
        href="/"
        aria-label="{{ .Site.Title }} home page"
      >
      {{ with .Site.Params.navTitleText }}
      <h1>{{ . }}</h1>
    {{ else }}
      <img 
        src="{{ "logo2.png" | relURL }}"  
        alt="{{ .Site.Params.logoAlt | default "Logo" }}"
      ></a>
    {{ end }}
    </div>
    <div>
        <p> </p>
        {{ with .Site.Params.intro }} {{ . | markdownify }} {{ end }}
        <p> </p>
        {{ with .Site.Params.values }} {{ . | markdownify }} {{ end }}
        <p> </p>
        {{ with .Site.Params.learnMore }} {{ . | markdownify }} {{ end }}
      </p>
    </div>
    {{ if eq .Site.Params.moveFooterToHeader true }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
  <style>
    .bw-filter {
        filter: grayscale(100%);
    }
    .center-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>
</header>
